* {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vh;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.gridcontainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 2fr 14fr 1fr;
    text-align: center;
}

.header {
    background-color: black;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maincontent {
    display: grid;
    grid-template-rows: 1fr 14fr;
}

.top {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}

.addbookbutton {
    padding: 5px;
    background: none;
    color: white;
    border-radius: 5px;
    border-color: white;
    font-weight: bold;
}

.addbookbutton:hover {
    background-color: black;
}

.cards {
    grid-row: 2 / 3;
}

.footer {
    background-color: black;
    opacity: 80%;
}